section.about
    .container
        .title.title--with--bottom--line
            h2.title.title__header About us
            .title__text We are added our major Services

        ul.about__list
            li.about__item
                .icon.icon-like
                h3.about__header Facebook Marketing
                p.about__description Lorem Imput is simple dummy text of the prening and typeseting industry. Standart dummy text ever.

            li.about__item
                .icon.icon-book
                h3.about__header landing pages Creation
                p.about__description Lorem Imput is simple dummy text of the prening and typeseting industry. Standart dummy text ever.

            li.about__item
                .icon.icon-message
                h3.about__header Ads manager
                p.about__description Lorem Imput is simple dummy text of the prening and typeseting industry. Standart dummy text ever.